@model List<SGA.Models.USRS>
@{
    ViewBag.Title = "Index";
}

<div class="page-header">
    <h2>Index</h2>
    <a class="btn btn-primary" href="~/home/crud/">@Html.Localize("nuevoRegistro")</a>
</div>


<table class="table table-striped">
    <thead>
        <tr>
            <th>@Html.Localize("usuario")</th>
            <th>@Html.Localize("nombre")</th>
            <th>@Html.Localize("apellido1")</th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>@item.sUSRS_USUARIO</td>
                <td>@item.sUSRS_NOMBRE</td>
                <td>@item.sUSRS_APELLIDO1</td>
                <td class="text-right">
                    <a class="btn btn-default" href="~/home/ver/@item.sUSRS_USUARIO" title="@Html.Localize("visualizar")">
                        <i class="glyphicon glyphicon-eye-open "></i>
                    </a>
                    <a class="btn btn-default btn-warning" href="~/home/crud/@item.sUSRS_USUARIO" title="@Html.Localize("editar")">
                        <i class="glyphicon glyphicon-pencil"></i>
                    </a>
                </td>
            </tr>
        }
    </tbody>
    
</table>

