@model SGA.Models.USRS

@{
    ViewBag.Title = Model.sUSRS_NOMBRE + " " + Model.sUSRS_APELLIDO1 + " " + Model.sUSRS_APELLIDO2;
}

<div>
    <ol class="breadcrumb">
        <li><a href="#">@Html.Localize("homepage")</a></li>
        <li><a href="~/">@Html.Localize("usuario")</a></li>
        <li class="active">@(Model.sUSRS_NOMBRE + " " + Model.sUSRS_APELLIDO1 + " " + Model.sUSRS_APELLIDO2)</li>
    </ol>
</div>

<div class="panel panel-default">
    <div class="panel-heading">@Html.Localize("infoPersonal")</div>
    <div class="panel-body">

        <dl class="dl-horizontal">
            <dt>
                @Html.Localize("usuario")
            </dt>

            <dd>
                @Html.DisplayFor(model => model.sUSRS_USUARIO)
            </dd>

            <dt>
                @Html.Localize("password")
            </dt>

            <dd>
                @Html.DisplayFor(model => model.sUSRS_PASSWORD)
            </dd>

            <dt>
                @Html.Localize("rol")
            </dt>

            <dd>
                @Html.DisplayFor(model => model.sUSRS_ROL)
            </dd>

            <dt>
               @Html.Localize("nombre")
            </dt>

            <dd>
                @Html.DisplayFor(model => model.sUSRS_NOMBRE)
            </dd>

            <dt>
               @Html.Localize("apellido1")
            </dt>

            <dd>
                @Html.DisplayFor(model => model.sUSRS_APELLIDO1)
            </dd>

            <dt>
               @Html.Localize("apellido2")
            </dt>

            <dd>
                @Html.DisplayFor(model => model.sUSRS_APELLIDO2)
            </dd>

            <dt>
                @Html.Localize("usuarioActivo")
            </dt>

            <dd>
                @Html.DisplayFor(model => model.sUSRS_ACTIVO)
            </dd>

        </dl>
    </div>

    <div class="panel-heading">@Html.Localize("preferenciasUsuario")</div>
    <div class="panel-body">
        <dl class="dl-horizontal">
            <dt>
                @Html.Localize("idioma")
            </dt>

            <dd>
                @Html.DisplayFor(model => model.sUSRS_CULTURA)
            </dd>
            </dl>
        </div>
</div>
